<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <title>Hello Angular!</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="httpService.js"></script>
    <script src="controllerHttp.js"></script>

</head>

<body >
   
<div ng-controller="httpCtrl">
  
  <table >
        <tr>
          <td>input your id : </td>
          <td>
                <input name="id" ng-model="id" required> 
          </td>
          <td>{{id}}</td>
        </tr>
  </table>
  <button ng-click="getDataByID(id)" >click to get the data</button>
  <button ng-click="getAllData()" >click to get the data</button>

  <p ng-repeat="i in data" >{{i}}</p>
</div>

</body>

</html>